In [173]:
import pandas as pd
import numpy as np
import warnings
from datetime import datetime
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [174]:
original_df = pd.read_csv("GlobalLandTemperaturesByCountry+GHG.csv").drop(columns=["Unnamed: 0"])
original_df.head()

,year,Country,continent,AverageTemperature,AverageTemperatureUncertainty,Latitude,Longitude,GHG,temp_diff,Code,gdp
0,1900,AFGHANISTAN,Asia,13.749333,0.748833,33.00,65.0,0.0,0.0,NaN,NaN
1,1900,ALBANIA,Europe,13.068583,0.723417,41.00,20.0,0.0,0.0,NaN,NaN
2,1900,ALGERIA,Africa,22.864167,0.826667,28.00,3.0,0.0,0.0,NaN,NaN
3,1900,AMERICAN SAMOA,Oceania,26.273500,0.891000,-14.33,-170.0,NaN,0.0,NaN,NaN
4,1900,ANDORRA,Europe,11.348333,0.542167,42.50,1.5,0.0,0.0,NaN,NaN

In [175]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24342 entries, 0 to 24341
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           24342 non-null  int64
 1   Country                        24342 non-null  object
 2   continent                      24342 non-null  object
 3   AverageTemperature             24341 non-null  float64
 4   AverageTemperatureUncertainty  24341 non-null  float64
 5   Latitude                       24342 non-null  float64
 6   Longitude                      24342 non-null  float64
 7   GHG                            22458 non-null  float64
 8   temp_diff                      24341 non-null  float64
 9   Code                           9396 non-null   object
 10  gdp                            7323 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 2.0+ MB

In [176]:
original_df.dropna(inplace = True)

In [177]:
#def get_temperature_diff_between(df_by_year,start_date,end_date):
   # df = df_by_year.loc[(df_by_year["year"] >= start_date) & 
     #                   (df_by_year["year"] <= end_date)].groupby(["Country","continent"]).mean().reset_index()
    
  #  return df

In [178]:
def get_temperature_diff_between(df_by_year,start_date,end_date):
    df = df_by_year.loc[(df_by_year["year"] >= start_date) & 
                        (df_by_year["year"] <= end_date)].groupby(["Country","continent"]).agg({"gdp":np.sum, "AverageTemperature": np.mean, "GHG": np.sum, "temp_diff": np.sum}).reset_index()
        
    return df

In [188]:
df = get_temperature_diff_between(original_df,1960,2001)
df.head()

,Country,continent,gdp,AverageTemperature,GHG,temp_diff
0,AFGHANISTAN,Asia,4.110511e+10,14.078186,3.311163e+08,0.707500
1,ALBANIA,Europe,4.009485e+10,13.134764,3.119427e+09,1.179500
2,ALGERIA,Africa,1.311925e+12,23.382044,3.237042e+10,1.390750
3,ANDORRA,Europe,2.124760e+10,11.679135,3.347064e+07,1.331250
4,ANGOLA,Africa,1.367624e+11,22.355035,2.340391e+09,0.533583

In [189]:
df["gdp_test"] = df["gdp"]*2

In [194]:
# This plot is for all years

fig = px.scatter(original_df, x="temp_diff", y="GHG", color="continent", template="simple_white", hover_name="Country",
                 size = "gdp_test",size_max=80,
                labels={
                     "temp_diff": "Increase in average temperature",
                     "GHG": "Greenhouse Gases Emissions"

                 },)
fig.show(renderer = "browser")

In [195]:
original_df.to_csv("Correlation.csv")

In [198]:
fig_1 = px.scatter(df, x="temp_diff", y="GHG", size="gdp_test", color="continent",
           hover_name="Country", log_x=False, size_max=100,
                  labels={
                     "temp_diff": "Increase in average temperature between 1960 and 2001 years",
                     "GHG": "Greenhouse Gases Emissions"
                      }, custom_data=['Country', 'gdp'])


fig_1.update_traces(
    hovertemplate="<br>".join([
        "Country: %{customdata[0]}",
        "GDP: %{customdata[1]}",
        "Increase in average temperature: %{x}",
        "Greenhouse Gases Emissions: %{y}",
    ])
)


fig_1.show(renderer = "browser")