In [225]:
import pandas as pd
import numpy as np
import warnings
from datetime import datetime
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [226]:
original_df = pd.read_csv("GlobalLandTemperaturesByCountry+GHG.csv").drop(columns=["Unnamed: 0"])
original_df.head()

,year,Country,continent,AverageTemperature,AverageTemperatureUncertainty,Latitude,Longitude,GHG,temp_diff,Code,gdp
0,1900,AFGHANISTAN,Asia,13.749333,0.748833,33.00,65.0,0.0,0.0,NaN,NaN
1,1900,ALBANIA,Europe,13.068583,0.723417,41.00,20.0,0.0,0.0,NaN,NaN
2,1900,ALGERIA,Africa,22.864167,0.826667,28.00,3.0,0.0,0.0,NaN,NaN
3,1900,AMERICAN SAMOA,Oceania,26.273500,0.891000,-14.33,-170.0,NaN,0.0,NaN,NaN
4,1900,ANDORRA,Europe,11.348333,0.542167,42.50,1.5,0.0,0.0,NaN,NaN

In [227]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24342 entries, 0 to 24341
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           24342 non-null  int64
 1   Country                        24342 non-null  object
 2   continent                      24342 non-null  object
 3   AverageTemperature             24341 non-null  float64
 4   AverageTemperatureUncertainty  24341 non-null  float64
 5   Latitude                       24342 non-null  float64
 6   Longitude                      24342 non-null  float64
 7   GHG                            22458 non-null  float64
 8   temp_diff                      24341 non-null  float64
 9   Code                           9396 non-null   object
 10  gdp                            7323 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 2.0+ MB

In [228]:
original_df.dropna(inplace = True)

In [229]:
#def get_temperature_diff_between(df_by_year,start_date,end_date):
   # df = df_by_year.loc[(df_by_year["year"] >= start_date) & 
     #                   (df_by_year["year"] <= end_date)].groupby(["Country","continent"]).mean().reset_index()
    
  #  return df

In [230]:
def get_temperature_diff_between(df_by_year,start_date,end_date):
    df = df_by_year.loc[(df_by_year["year"] >= start_date) & 
                        (df_by_year["year"] <= end_date)].groupby(["Country","continent"]).agg({"gdp":np.sum, "AverageTemperature": np.mean, "GHG": np.sum, "temp_diff": np.sum}).reset_index()
        
    return df

In [231]:
# df = get_temperature_diff_between(original_df,1900,2013)
# df.head()

In [232]:
original_df["gdp_test"] = original_df["gdp"]*2

In [233]:
fig = px.scatter(original_df, x="temp_diff", y="GHG", color="continent", template="simple_white", hover_name="Country",
                 size = "gdp_test",size_max=80,
                labels={
                     "temp_diff": "Increase in average temperature",
                     "GHG": "Greenhouse Gases Emissions"

                 },)
fig.show(renderer = "browser")

In [234]:
original_df.to_csv("Correlation.csv")

In [235]:
#def get_temperature_diff_between(df_by_year,start_date,end_date):
   # df = df_by_year.loc[(df_by_year["year"] >= start_date) & 
             #           (df_by_year["year"] <= end_date)].groupby(["Country"]).sum()[["temp_diff"]]
    
    #return df